@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .layout {
    @apply max-w-[450px] mx-auto border-8 overflow-x-hidden border-second rounded-4xl h-[600px] mt-10 overflow-y-auto;
  }

  .btn {
    @apply flex justify-center items-center gap-2 cursor-pointer;
  }

  .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.custom-scrollbar::-webkit-scrollbar {
  @apply h-2 w-2;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-main/70 rounded-md;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-main/70;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-main/90;
}
}

@theme {
  --color-main: #009432;
  --color-second: #0652DD;
}